* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

nav {
    height: 40px;
    width: 100%;
    background-color: blueviolet;
}


.web-name {
    color: white;
    font-size: 24px;
    padding-top: 5px;
}

body {
    background-color: rgb(241, 241, 241);
}
.h2{
    color: white;
    padding: 10px;
    margin-right: 30px;
}

.nav-text {
    color: white;
    font-size: 18px;
    padding-top: 10px;

}

.right-stuff {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    justify-content: space-evenly;
}

.nav-btn {
    background-color: blueviolet;
    height: 30px;
    width: 60px;
    margin-top: 5px;
    color: white;
    border: 2px solid white;
}

.dashboard {
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

.dash-text {
    font-size: 32px;
    padding-top: 10px;
    margin-left: 40px;
}

.blog-div {
    background-color: white;
    height: 240px;
    width: 600px;
    margin-top: 20px;
    padding-left: 70px;
    border-radius: 10px;
}

.blog-main {
    margin-left: 25%;
}

.input-style {
    height: 25px;
    width: 90%;
    margin-top: 10px;
    /* padding-left: 40px; */
    font-size: 18px;
    font-weight: bold;
}

#textarea-input {
    margin-top: 15px;
    font-size: 18px;
    height: 120px;
    width: 90%;
    /* padding-left: 40px; */
}

.pub-btn {
    height: 30px;
    width: 120px;
    margin-top: 5px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
}

.pub-btn:active {
    background-color: blueviolet;
    opacity: 0.8;
}

.pub-btn:hover {
    cursor: pointer;
}

.published-div {
    background-color: blue;
    height: 100px;
}

.blog {
    background-color: aquamarine;
    height: 100px;
}

.img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.uploaded-blog {
    /* height: 300px; */
    width: 670px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 25%;
}

.upper-sec {
    display: flex;
    padding: 10px;
}

.title {
    font-size: 24px;
    margin-left: 10px;
}

.title-div {
    height: 60px;
    width: 100%;
}

.name-date {
    margin-left: 10px;
}
.textareavalue{
    margin-left: 10px;
    max-width: 90%;
    word-wrap: break-word;
}
.blogpubmain{
    max-width: 100%;
    margin-right: 10px;
}
.edit-btn{
    background-color: rgb(0, 113, 0);
    color: white;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.delete-btn{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.btns{
    margin-left: 10px;
    margin-top: 10px;
}